.fade-on-hover {
  transition: 1s ease-in-out fill;
}

.fade-on-hover:hover {
  fill: #00a4db;
  cursor: pointer;
}

pre {
  margin: 0;
}

h2 {
  margin-top: 0;
}

pre code {
  font-size: 1rem !important;
  line-height: 1.1 !important;
  font-family: monospace !important;
}

img {
  height: auto !important;
  max-width: 45vw !important;
}

.hypocube-demo__chart-area {
  max-width: 1200px;
  margin-bottom: 2rem;
}
